body {
  text-align: center;
  padding: 0 25px;
  font-family: Helvetica, Arial, sans-serif;
}

#main, #chats {
  width: 80%;
  max-width: 800px;
  
  margin: 0px auto;
  text-align: left;
  background: white;
}

#main .menu {
  position: absolute;
  top:0;
  left:0;
  padding: 20px;
}
 .menu .menuIcon::before {
  display: none;
  content: '';
  position: absolute;
  z-index: 2000;
  top: 14px;
  left: 0em;
  margin: 20px;
  width: 1.5em;
  font-size: 20px;
  color: #000;
  height: 0.30em;
  border-top: 1.0em double #000;
  border-bottom: .35em solid #000;
}
 .menu.shown .menuIcon::before{
  content: 'X';
  border: none;
  font-weight: 800;
  top: 0px;
  font-size: 40px;
  color: #000;
}
.menu .menuIcon:hover::before{
  cursor: pointer;
  fill:  #E73C7E !important;
  color: #E73C7E !important;
  border-color: #E73C7E !important;
}
#main h1 {
  margin-top: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  margin-bottom: 5px;
}

#main h1 span {
  font-style:italic;
}

#main ul {
  padding-left: 20px;
}

#main .error {
  border: 1px solid red;
  background: #FDEFF0;
  padding: 20px;
}

#main .success {
  margin-top: 25px;
}

#addRoom {
  width: 100px;
}

select{
  width: 200px;
}
#main .success code {
  font-size: 12px;
  color: green;
  line-height: 13px;
}

.menuItem{
  margin: 10px 0;
}

form {
  padding-left: 0;
}

form input[type=text] {
  margin-right: 10px;
  width: 70%;
  font-size: 12px;
  padding: 5px;
}

.inputWrapper{
  width: 100%;
  position: relative;
  vertical-align: top;
  margin-bottom: 40px;
}
#message{
  width: 78%;
  border:0;
  font-size: 22px;
  padding: 10px;
  display: inline-block;
  margin-right: 45px;
  border-bottom: 1px solid #c0c0c0;
}

input:focus, button:focus, submit:focus{
  outline: none;
  font-weight: bold;
}
.submit, .btn{
  right:0;
  background: #000;
  border-radius: 5px;
  top: 20px;
  color: #fff;
  border: 0;
  font-size: 12px;
  padding: 10px;
  display: inline-block;
  width: 20%;
}
.submit {
}
.submit:hover, .btn:hover{
  background: #0B93F6;
  cursor: pointer;
}
.chat {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee;
}

.chat .username {
  font-weight: 800;
}

.chat:hover {
  background-color: #ddd;
}

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
}



.inputWrapper .col {
  display: inline-block;
}

section {
  max-width: 450px;
  margin: 50px auto;
}
section div {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
}
section div:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
clear: both;
}

.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  transform-origin: 100% 100%;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
}
.from-me:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.from-them {
  position: relative;
  padding: 10px 20px;
  transform-origin: 0% 100%;
  background: #E5E5EA;
  color: #333;
  border-radius: 25px;
  float: left;
}
.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.bubble {
  margin: 10px 0;
  animation: expand .25s ease-in;
}

.bubble .message{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10; /* number of lines to show */
  line-height: X;        /* fallback */
  max-height: X*10;       /* fallback */
}
.bubble .date{
  font-size: 10px;
  position: absolute;
  top: -15px;
  white-space: nowrap;  
  color: #c0c0c0;
}
.message .username{
  font-size: 12px;
}

.message .messageBody{
  font-size: 14px;
}

.friend, .friend::before {
  background-color: rgb(241, 170, 37);  
  border-color: rgb(241, 170, 37);  
}

.info span {
  font-weight: bold;
}
.info {
  color: #c0c0c0;
  display: none;
  margin: 0px;
  padding: 5px;
  font-size: 10px;
}
.beFriend {
  filter: grayscale(100%);
}

.beFriend:hover {
  cursor: pointer;
  filter: hue-rotate(90deg);
}

.friend .beFriend {
  filter: saturate(9);
}

.emojiPickerIcon{
  z-index: 6000;
}
.emojiPicker section {
  margin: 0px 0;
}


.emojiPickerIconWrap {
  width: 78%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}


@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 0px)
and (max-width : 1224px){
  .menuContent {
    transform: translateY(-120%);
    margin: 0px auto;
    margin-left: -5%;
    opacity: 0;
    transition: .75s transform, opacity ease-in-out;
  }
  .menu {
    width: 100%;
    text-align: center;
    z-index: 500;
  }
  .menu.shown {
    position: relative;
    background: rgba(255,255,255,0.75);
    border-bottom: 1px solid #c0c0c0;
  }
  .menu.shown .menuContent{
    opacity: 1;
    transform: translateY(0%);
  }
  .menu.shown + .inputWrapper {
    margin-top: 200px;
  }
  #main {
    margin-left: 15%;
  }

  .menu .menuIcon::before {
    display: block;
  }
}